<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
		<listener
			class-name="com.atmecs.demo_blazesite.utilities.TestNGListeners"></listener>
	</listeners>

 <test thread-count="5" name="test1">
  <parameter name="browser" value="chrome"/>
    <classes>
      <class name="com.atmecs.demo_blazesite.tests.AddProductTest"/>
      <class name="com.atmecs.demo_blazesite.tests.ContactUsTest"/>
      <class name="com.atmecs.demo_blazesite.tests.SignInTest"/>
      <class name="com.atmecs.demo_blazesite.tests.LoginTest"/>
    </classes>
  </test>
  
  <test thread-count="5" name="test2">
  <parameter name="browser" value="firefox"/>
    <classes>
      <class name="com.atmecs.demo_blazesite.tests.AddProductTest"/>
      <class name="com.atmecs.demo_blazesite.tests.ContactUsTest"/>
      <class name="com.atmecs.demo_blazesite.tests.SignInTest"/>
      <class name="com.atmecs.demo_blazesite.tests.LoginTest"/>
    </classes>
  </test>
  
</suite> <!-- Suite -->
